    <ul class="section-nav">
        <li class="toc-entry toc-h2"><a href="#headings">Headings</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#customizing-headings">Customizing headings</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#display-headings">Display headings</a></li>
        <li class="toc-entry toc-h2"><a href="#lead">Lead</a></li>
        <li class="toc-entry toc-h2"><a href="#inline-text-elements">Inline text elements</a></li>
        <li class="toc-entry toc-h2"><a href="#text-utilities">Text utilities</a></li>
        <li class="toc-entry toc-h2"><a href="#abbreviations">Abbreviations</a></li>
        <li class="toc-entry toc-h2"><a href="#blockquotes">Blockquotes</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#naming-a-source">Naming a source</a></li>
                <li class="toc-entry toc-h3"><a href="#alignment">Alignment</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#lists">Lists</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#unstyled">Unstyled</a></li>
                <li class="toc-entry toc-h3"><a href="#inline">Inline</a></li>
                <li class="toc-entry toc-h3"><a href="#description-list-alignment">Description list alignment</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#responsive-font-sizes">Responsive font sizes</a></li>
    </ul>
